{% extends "base.html" %}

{% block head %} {% endblock %}

{% block title %}{{title}}{% endblock %}

{% block content %}

    <center>
    <h1>{{title}}</h1>
    <h2>{{ libro }}</h2>
    
    {{ message }}
    
    {% if op == "lista" %}
        <ul>
            {% for c in listacopie %}
                <li>
                    <p>{{ c.pk }}: in prestito dal {{ c.data_prestito }} {% if c.scaduto %}
                    scaduto
                    {% endif %} </p>
                    <a href="{% url "gestione:restituzione_final" pk=c.pk %}">Restituisci</a>
                </li>
            {% endfor %}
    	</ul>
    {% elif op == "scaduto" %}
        <em>La copia era scaduta! La prossima volta riportala prima!</em>
    {% endif %}

    </center>
    
    {% include 'gestione/gfooter.html' %}

{% endblock %}