<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        * {
            font-family: "Helvetica Neue", sans-serif
        }

        body {
            background-color: #dcdcdc;
        }

        h1 {
            color: #0f3a7a;
        }

        li {
            margin: 2px;
            background-color: cornflowerblue;
        }

        a {
            border: 1px solid white;
            background-color: #ff3b3b;
            color: white;
            text-decoration: none;
            padding: 2px;
        }
    </style>

    {% block head %} {% endblock %}

    <title> {% block title %}{% endblock %}</title>
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>
